@import './base.css';
@import "tailwindcss";
@import "tailwindcss-primeui";

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  transition: 0.4s;
  padding: 3px;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    justify-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}

/* logo switch */
:root {
    --app-logo-url: url('logo-dark.png');
}
.p-dark {
    --app-logo-url: url('logo-light.png');
}
@media (prefers-color-scheme: dark) {
    :root {
        --app-logo-url: url('logo-light.png');
    }
}